# PostgreSQL UniPlan
PG_HOST=postgres-uniplan
PG_PORT=5432
PG_USERNAME=uniplan_user
PG_PASSWORD=uniplan_pass
PG_DATABASE=uniplan_db

# PostgreSQL Institucional
PG_INST_HOST=postgres-institucional
PG_INST_PORT=5432
PG_INST_USERNAME=inst_readonly
PG_INST_PASSWORD=inst_pass
PG_INST_DATABASE=universidad_db

# MongoDB
MONGO_URI=mongodb://mongo_user:mongo_pass@mongodb:27017/uniplan_mongo?authSource=admin

# JWT
JWT_SECRET=tu_secreto_seguro
JWT_EXPIRES_IN=8h